<!DOCTYPE html>
<html>
<head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <h2>🛒 Shopping Cart</h2>
    <a href="/">Home</a>
</nav>

<div class="container">

    <h1>Your Cart</h1>

    {% if cart_products %}

        {% for product in cart_products %}

        <div class="cart-item">

            <img src="{{ product.image }}">

            <div>
                <h2>{{ product.name }}</h2>
                <p>₹{{ product.price }}</p>

                <a class="remove"
                   href="{{ url_for('remove_from_cart', product_id=product.id) }}">
                   Remove
                </a>
            </div>

        </div>

        {% endfor %}

        <h2>Total: ₹{{ total }}</h2>

        <a class="button" href="/checkout">
            Proceed to Checkout
        </a>

    {% else %}

        <h2>Your cart is empty.</h2>
        <a class="button" href="/">Shop Now</a>

    {% endif %}

</div>

</body>
</html>